## Based on GitHub's Eclipse .gitignore

run/
.gradle/
build/
gradle-app.setting
out/
logs/

## IntelliJ IDEA

.idea/
*.iml
*.iws
*.ipr

## Eclipse

eclipse/
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Vitepress
docs/.vitepress/dist/
docs/.vitepress/cache/

# Logs
docs/logs
docs/*.log
docs/npm-debug.log*
docs/yarn-debug.log*
docs/yarn-error.log*
docs/pnpm-debug.log*
docs/lerna-debug.log*

docs/node_modules
docs/dist
docs/dist-ssr
docs/*.local

# Other
.DS_Store
mcmodsrepo
src/*/generatedPackageInfos/
*/src/*/generatedPackageInfos/
